<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="activerecord"
type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
  </configSections>

  <!--<activerecord>

    <config>
      <add key="hibernate.connection.driver_class" value="NHibernate.Driver.SQLite20Driver" />
      <add key="hibernate.dialect" value="NHibernate.Dialect.SQLiteDialect" />
      <add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
      <add key="hibernate.connection.connection_string" value="Data Source=C:\Users\Jarrod\AppData\Roaming\Notemaker\NotemakerTest.db;Version=3" />
    </config>

  </activerecord>-->
  <activerecord isDebug="true" isWeb="false">
    <config>
      <add key="connection.provider" value="JayDev.Notemaker.Core.SqLiteConnectionProvider, Notemaker"/>
      <add key="dialect" value="NHibernate.Dialect.SQLiteDialect"/>
      <add key="connection.driver_class" value="NHibernate.Driver.SQLite20Driver"/>
      <add key="connection.connection_string" value="Data Source=c:\users\jarrod\documents\NotemakerTest.db;Version=3"/>
      <add key="proxyfactory.factory_class"
           value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />
      <add key="show_sql" value="true"/>
    </config>
  </activerecord>
</configuration>